{
  "presets":["react",["es2015", { "modules": false }],"stage-2","mobx"],
  "plugins": [
    "transform-runtime",
    ["zent"],
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}